@font-face {
    font-family: 'Bosch';
    src: url('BoschRegular.woff2') format('woff2'),
        url('BoschRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  font-size: 100%;
}

:root {
  --text-color: rgb(7, 14, 218);
  --background-color: rgb(251, 194, 255);
  --accent-color: rgb(0, 0, 0);
  --font-accent: "bosch", sans-serif;
  --title-font: "snell-roundhand-lt-std", sans-serif;
  --body-font: "baloo-bhaina-2", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-variation-settings: 'wght' 100, 'CRSV' 0, 'SHRP' 0, 'slnt' 0;
  line-height: 1.5em;
  background-image: url(../img/web-recono-01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-body {
  background-color: #fff;
  background-image: url(../img/sillaaaaa.svg);
}
.hero-body h1 {
  font-size: 17vw;
  width: 100%;
  background-color: #fff;
  font-weight: 100;
  text-align: center;
  line-height: 0.5em;
}
.hero-body main { 
  max-width: none;
  ;
}
.hero-body p {
  text-shadow: 1px 1px 0px white;
  width: 40%;
  /* font-size: 16px; */
}

@media screen and (min-width:640px) {
  .hero-body p {
    margin-left: 26%;
  }
  
}
.hero-body a {
  color: rgb(7, 14, 218);
  float:right;
  width: 100%;
  text-align: right;
  font-family: monospace;
  font-size: 1.1em;
}
a {
  text-decoration: underline;
  color: var(--accent-color)
  transition: all 900ms ease;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0)
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
p, li {
  max-width: 60ch;
 } 

h1 {
  width: 100%;

  font-family: var(--font-accent);
  font-variation-settings: 'CTOP' 100, 'CBOT' 0, 'wdth' 150, 'wght' 900;
  font-size: 8vw;
}

h2 {
  font-family: var(--font-accent);
  font-variation-settings: 'CTOP' 100, 'CBOT' 0, 'wdth' 100, 'wght' 600;
  font-size: 2.5em;
}

h3,
h4 {
  font-family: var(--font-accent);
  font-variation-settings: 'CTOP' 100, 'CBOT' 0, 'wdth' 100, 'wght' 400;
  font-size: 2em;
}

h1 strong {
  font-family: var(--title-font);
}

header {
  width: 100%;
 
}