html {
  font-size: 100%;
}

:root {
  --text-color: rgb(7, 14, 218);
  --background-color: rgb(251, 194, 255);
  --accent-color: rgb(0, 0, 0);
  --title-font: "varietta-variable", sans-serif;
  --body-font: "geologica-variable", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-variation-settings: 'wght' 100, 'CRSV' 0, 'SHRP' 0, 'slnt' 0;
}

a {
  color: var(--accent-color)
}

h1 {
  width: 100%;

  font-family: var(--title-font);
  font-variation-settings: 'CTOP' 100, 'CBOT' 0, 'wdth' 150, 'wght' 900;
  font-size: 8vw;
}

h2,
h3,
h4 {
  font-family: var(--title-font);
  font-variation-settings: 'CTOP' 100, 'CBOT' 0, 'wdth' 100, 'wght' 400;
  font-size: 2rem;
}

header {
  width: 100%;
  text-align: center;
}